.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  background-color: #17bebb;
  color: white;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40em;
}

.content > h1 {
  font-size: 3em;
  text-transform: capitalize;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.language-selector {
  height: 2em;
  font-size: 1.5em;
  border: none;

  background-color: rgba(0, 0, 0, 0);
  color: white;
}

button {
  border: none;
  height: 4em;
  width: 5em;

  font-size: 1.5em;

  color: white;
}

.ok {
  background-color: #e4572e;
}

.cancel {
  background-color: #76b041;
}
